@model IEnumerable<Tasks>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due</th>
        <th>Status</th>
        <th>Details</th>
        @if(User.IsInRole("Admin"))
        {
            <th>Edit</th>
            <th>Delete</th>
        }
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.DueDate</td>
            <td>@item.Status</td>
            <td><button onclick="location.pathname = '@Url.Action("Details", "Tasks", new {id = item.Id})'">Details</button></td>
            @if(User.IsInRole("Admin"))
            {
                <td><button onclick="location.pathname = '@Url.Action("Update", "Tasks", new {id = item.Id})'">Edit</button></td>
                <td><button onclick="location.pathname = '@Url.Action("Delete", "Tasks", new {id = item.Id})'">Delete</button></td>
            }
        </tr>
    }
</table>
@if(!User.IsInRole("User"))
{
    <button onclick="location.pathname = '@Url.Action("Create", "Tasks")'">Create</button>
}
